h1{
    width: 100%;
    background-color: blue;
    align-items: center;
}
.code-box {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
    font-family: "Courier New", Courier, monospace;
    overflow-x: auto; 
} 
.center-text {
    text-align: center;
    font-size: 400%;
    background-color: rgba(0, 0, 0, 0.1); /* Background color */
            padding: 20px; /* Padding for content */
            border-radius: 10px; /* Rounded corners */
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Box shadow for a subtle effect */
  }
.colored-text{
    background-color: blue;
}
.center{
    width: 200px;
    height:min-content;
    justify-content: center;
     align-items: center;
     display: flex;
}
.main-interface{
    text-align: center;
    
}
.contact-details {
    border: 2px solid #000; /* Add a 2px solid border */
    padding: 20px; /* Add padding around the content */
    margin-top: 20px; /* Add some space between this section and the previous content */
    border-radius: 5px; /* Add rounded corners */
    width: fit-content; /* Adjust width to fit content */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
    background-color: blueviolet;
    float: left;
}
.contact-form {
    margin-top: 20px; /* Add some space between this section and the previous content */
    width: fit-content; /* Adjust width to fit content */
    margin-left: auto; /* Center horizontally */
    margin-right: auto; /* Center horizontally */
}
#live-video {
    cursor: pointer; /* Change cursor to pointer when hovering over the video */
}